%h2
%h4

.row
  .col
    %h3
      Team:
      = @team.name
  .col
    .float-right
      = link_to "Create Player", new_team_player_path(@team), class: 'btn btn-primary btn-sm'
- if @team.players.empty?
  .row
    .col
      = link_to "Create a player to get started", new_team_player_path(@team)
-else
  .row
    .col
      %h5 Players
  .row
    .col
      %table.table
        %thead
          %th Location [x,y]
          %th H20 Size
          %th Backpack Size
          %th Stamina
          %th No Water
          %th No Food
          %th Days Survived
          %th Water
          %th Food
          %th State
        %tbody
          - @team.players.each do |player|
            %tr
              %td== [#{player.x}, #{player.y}]
              %td= player.water_stat
              %td= player.food_stat
              %td= player.stamina_stat
              %td= player.days_without_water
              %td= player.days_without_food
              %td= player.days_active
              %td= player.water_count
              %td= player.food_count
              %td
                -if player.active
                  = link_to "😄", new_player_move_path(player)
                - else
                  ☠️