%h3 Players
%div= link_to 'New Player', new_team_player_path(@team)
%table
  %thead
    %th Location
    %th H20 Size
    %th Backpack Size
    %th Movement
    %th Stamina
    %th Days Survived
  %tbody
    - @players.each do |player|
      %tr
        %td== #{player.x}, #{player.y}
        %td= player.water_stat
        %td= player.food_stat
        %td= player.movement_stat
        %td= player.stamina_stat
        %td= player.days_active
        %td= link_to "moves", new_player_move_path(player)